<html>

<header>
    <script type="text/javascript">
        window.onload=function() {
            document.getElementById("deleteFile").onclick=function() {
                var form = document.createElement("form");
                form.action = this.href;
                form.method = "DELETE";
                document.body.appendChild(form);
                form.submit();
                return false;
            }
        }
    </script>
</header>

<body>
    <div class="container">
        <h2>Phlog - Homepage</h2>
        <br/>
        <nav style="float:right">
            <form action="/logout" method="POST">
                <a href="/users">Registered Users</a>
                <button type="submit">Logout</button>
            </form>
        </nav>
        <br/><br/><hr/>

        <h3>Hey <i style="color: lightseagreen;">{{.Data.Body.Name}}</i>, Upload your photo here!</h3>
        <form action="/upload/file" method="POST" enctype="multipart/form-data">

            <div>
                <span>
                    <strong>Photo: </strong>
                    <input type="file" name="photo"/>
                </span>
            </div>
            <br/><br/>
            <div>
                <span>
                    <strong>Caption: </strong>
                    <input type="text" name="caption"/>
                </span>
                <button type="submit">Upload</button>
            </div>
            <br/><br/><hr/>
        </form>

        <div>
            <h3>Your pics here...</h3>
            <div style="display: flex;">
                {{range .Data.Body.Photos}}
                    <figure>
                        <img src="static/{{.RelativePath}}" alt="{{.RelativePath}}" width="200" height="200"/>
                        <figcaption>
                            <p>
                                <span>
                                    <span>{{.Caption}}</span>
                                </span>
                            </p>
                            <span>
                                <a href="/download/file/{{.ID}}">Download</a>
                                <a id="deleteFile" href="/delete/file/{{.ID}}">Delete</a>
                            </span>
                            <!-- <span><a href="/likes">Likes</a></span>
                            <span><a href="/comments">Comments</a></span> -->
                        </figcaption>
                    </figure>
                {{end}}
            </div>

            <br/><br/><hr/>
            <div style="text-align:center;">
                {{if .Data.Body.Previous}}
                    <a href="/home?page={{.Data.Body.PreviousPageNo}}">Previous</a>
                {{else}}
                    <a>Previous</a>
                {{end}}

                {{if .Data.Body.Next}}
                    <a href="/home?page={{.Data.Body.NextPageNo}}">Next</a>
                {{else}}
                    <a>Next</a>
                {{end}}
            </div>
        </div>
    </div>
</body>

</html>